:root {
    --content: "";
}

body {
    background-color: #F0EFF4;
}

body * {
    font-family: 'Roboto Condensed', sans-serif;
}

.sidebar-body h4 {
    padding: 0.25rem 0.75rem;
}

.sidebar-body, .green-block{
    background-color: #06603A !important;
    font-size: 1rem;
    color: #F0EFF4 !important;
}

.sidebar-body a, .green-block a {
    color: #F0EFF4;
    text-decoration:none;;
}

.sidebar-content, .sidebar-block .accordion-button {
    padding: 0.25rem 0.75rem;
}

.sidebar-content a span {
    transform:translate(-0.75rem, -0.25rem);
}

.sidebar-text {
    margin: auto 0;
    padding-left: 0.5rem;
    font-weight:300;
}


.sidebar-content:hover, .sidebar-block .accordion-button:hover, .log-out-cover:hover, .green-hover:hover{
    background-color: #05472B !important;
}

.sidebar-accordion {
    cursor: pointer;
}

.sidebar-accordion span, .sidebar-accordion img {
    pointer-events:none;
    user-select:none;
}

button {
    border: none;
    background-color:transparent;
}

.sidebar-block .accordion-button::after, .sidebar-block .accordion-button:not(.collapsed)::after {
        background-image: url(/images/icons/chevron-down.svg);
}
.sidebar-block .accordion-button::after {
    content: var(--content);
}
.sidebar-block .accordion-button:not(.collapsed) {
    color: #FFF;
    background-color: #05472B;
    box-shadow: none;
}

.sidebar-block .accordion-button:focus {
    box-shadow: none;
}

.sidebar-block .accordion-collapse {
    background-color: #05472B;
    padding: 0.5rem 0;
}
.sidebar-block .accordion-collapse .sidebar-content:hover {
    color: #FFF;
}

.account hr{
    opacity:1;
    margin: 0 0.75rem;
}

button.action-button {
    background-color: #EE6C4D;
    color: #F0EFF4;
}
button.action-button:hover {
    background-color: #A14028;
    color:#FFF;
}

.green-block input, .green-block .readonly-input {
    border: solid #F0EFF4;
    background-color: #05472B;
    color:#F0EFF4;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}
/*.green-block .readonly-input {*/
/*   color: rgba(240, 239, 244, 0.6);*/
/*   user-select:none;*/
/*}*/
.green-block .readonly {
    color: rgba(240, 239, 244, 0.6);
}
.green-block input:focus {
    outline:none;
}

.go-back-icon::before {
    content:"";
    background-image: url(/images/icons/chevron-down.svg);
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    transition: none;
    margin-right:0.25rem;
    transform: rotate(90deg);
}
.drop-menu {
    background-color: #06603A !important;
    border-radius: 0 !important;
    color:#F0EFF4 !important;
    padding: 0.25rem 0 !important;
}

.add-department {
    border: #06603A dashed;
    color: #071013;
}
.add-department:hover {
    border:none;
    background-color: #06603A;
    color: #F0EFF4;
}

.green-block .selectize-input, .green-block .selectize-dropdown {
    color:#F0EFF4;
    border: solid #F0EFF4 !important;
    box-shadow:none !important;
    background: #05472B none !important;
    font-size:inherit;
}
.green-block .selectize-input {
    padding: 0.25rem;
}
.green-block .selectize-dropdown:hover {
    background-color:pink;
}
.green-block .selectize-input input {
    color:#F0EFF4;
}

input, textarea {
    border: solid 0.20rem #06603A;
}
input:focus, textarea {
    outline:none;
}